.nav {
    position: fixed;
    background-color: #8A79AF; 
    width: 100%;
    padding: 30px;
    z-index: 600;
}
.nav-item {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1vw;
}

.nav-link{
    color: white;
}

.nav-item  :hover {
    background-color: blueviolet;
}