<div class="box">
    <div class="row">
        <section class="acoso col-12">
          <div class="row">
              <img src="../../assets/img/Artemisa(11).jpg"  class="col-8">
              <main class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime veritatis facere eaque a incidunt, repudiandae impedit saepe temporibus reprehenderit nisi reiciendis nihil quaerat velit adipisci numquam aut soluta. Maxime?</p>
              </main>
          </div>
          <div class="row col-12">
              <main class="col-4">
                <img class="image" src="../../assets/img/icono-informacion.png">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
              </main>
                <main class="col-4">
                  <img class="image" src="../../assets/img/denuncia-3.png">
                  <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
                </main>
                  <main class="col-4">
                    <img  class="image" src="../../assets/img/government-icon.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
                  </main>         
          </div>
        </section>
                  
      </div>
      
</div>
