.box {
	width: 100%;
    height: 100%;
    margin-top: 10%;
    position: relative;
}
.images {
    border-radius: 40%;
    max-width: 286px;
    max-height: 180px;
}

.display {
    display: inline-block;
}

.space{
    margin-bottom: 10px;
}

.btn {
    background-color: #A2738C;
    border-color:#A2738C; 
}

.imagen {
   min-width: 100%;
}