<div class="container box">
  <div class="row">
 
    <section id="acoso">  <img class="img-fluid imagen" src="../../assets/img/Artemisa(11).jpg" >

      <h2>¿Quienes somos?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum tempore impedit ratione? Quo sint nihil at, amet ratione placeat, animi perferendis temporibus cupiditate illo, voluptate aspernatur maxime consequuntur ipsam.</p>
    </section>
    <section class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 display">
            <div class="card " >
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/icono-informacion.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Información</h5>
                <p class="card-text">Algunos datos del acoso callejero en la Cudad de México</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Información
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img  class= "infografias img-fluid" src="../../assets/img/acoso-info.jpg">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 display ">
            <div class="card space">
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/government-icon.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Instituciones</h5>
                <p class="card-text">Instituciones dónde pueden ayudarte</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Instituciones
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modaspacel-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img  class ="infografias" src="../../assets/img/Artemisa(14).jpg">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 display ">
            <div class="card space">
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/denuncia-3.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">¿cómo denunciar?</h5>
                <p class="card-text">¿cuáles son los aspectos para denunciar el acoso?</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Denuncia
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img  class=" infografias" src="../../assets/img/Yo-no-acoso-porque-13.jpg">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
  </div>
</div>

