header {
    font-family: 'Libre Franklin', sans-serif;
}

nav{
    background-color: #8A79AF; 
} 

nav>ul>li{
 display: inline-block;
 list-style: none;
 margin-left: 10%;
 
}
nav>ul>li>a {
    text-decoration: none;
} 



