header {
    font-family: 'Libre Franklin', sans-serif;
}
 header>nav{
    background-color: #8A79AF; 
} 

header>nav>ul>li{
 display: inline-block;
 list-style: none;
 margin-left: 10%;
 margin-top: 20px;
 margin-bottom: 20px;
 
}

header>nav>ul>li>a {
    text-decoration: none;
    color: white; 

} 

header>nav>ul>li:hover {
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

header>nav>ul>li>a:hover {
    color: pink;
}