 <div class="row ">
   <header>

        <nav>
          <ul>
            <li><a href="#about"> Inicio</a></li>
            <li><a href="#robo"> Robo</a></li>
            <li><a href="#acoso"> Acoso callejero</a></li>
            <li><a href="#violacion"> Violacion</a></li>
            <li><a href="#descargas"> Descargas</a></li>
          </ul>
        </nav>

   </header>
</div>

<app-about id="about"></app-about>
<app-robo id="robo"></app-robo>
<app-acoso id="acoso"></app-acoso>
<app-violacion id="violacion"></app-violacion>
<app-descargas id="descargas"></app-descargas>
<router-outlet></router-outlet>
