<div class="container">
  <div class="row">
      <img src="../../assets/img/Artemisa(10).jpg"  class="col-8">
      <main class="col-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime veritatis facere eaque a incidunt, repudiandae impedit saepe temporibus reprehenderit nisi reiciendis nihil quaerat velit adipisci numquam aut soluta. Maxime?</p>
      </main>
  </div>
</div>





<!--<div class="box">
  <div class="row">
    <section class="robo col-12">
      <div class="row">
          <img src="../../assets/img/Artemisa(10).jpg"  class="col-8">
          <main class="col-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime veritatis facere eaque a incidunt, repudiandae impedit saepe temporibus reprehenderit nisi reiciendis nihil quaerat velit adipisci numquam aut soluta. Maxime?</p>
          </main>
      </div>
      <div class="row col-12">
          <main class="col-4">
            <img class="image" src="../../assets/img/icono-informacion.png">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
            <button class="btn btn-lg btn-outline-primary" (click)="open()">Informacion</button>
            <div class="modal-header">
              <h4 class="modal-title">Hi there!</h4>
              <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Hello, {{name}}!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
            </div>

          </main>
            <main class="col-4">
              <img class="image" src="../../assets/img/denuncia-3.png">
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
            </main>
              <main class="col-4">
                <img  class="image" src="../../assets/img/government-icon.jpg">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ipsa rem ratione.</p>
              </main>         
      </div>
    </section>
              
  </div>
</div>
-->


